body{background-color:purple;}p{color:

body {
  color: blue;
}

<hr style="height:2px;border-width:0;color:gray;background-color:gray">
 
div {border-color: coral;}

green;font-family:Arial;}h1{color:

purple; font-family:Aharoni;}h3{color:

blue;font-family:Garamond;}
